<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
  <link rel="stylesheet" type="text/css" th:href="@{/questionCreate.css}">
<form th:action="@{/question/create}" th:object="${questionForm}" method="post">
<div class="content-box" id="ctbox">
  <div class="mb-3">
    <label for="subject" class="form-label">subject</label>
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('subject')}">
      <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
    </div>
    <input id="subject" class="form-control" placeholder="subject" aria-label="subject" th:field="*{subject}">
  </div>

  <div class="mb-3">
    <label for="content" class="form-label">content</label>
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('content')}">
      <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
    </div>
    <textarea id="content" class="form-control" rows="3" name="content" th:field="*{content}"></textarea>
  </div>

  <button type="submit" class="btn btn-dark" id="posting">upload</button>
</div>
</form>
</div>
</html>